<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/login&register/style.css">

</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 text-center mb-5">
					<h1 class="heading-section">LOGIN</h1>
				</div> -->
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(img/storeLogo.png);">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100 pb-5">
                                    <h1 class="mb-4">Forget Password</h1>
                                </div>
                            </div>
                            <form action="" method="post" class="signin-form">
                                <div class="form-group mb-3">
                                    <div class="" style="color: rgb(1, 163, 1);" th:text="${success}"
                                        th:if="${success != null}"></div>
                                    <label class="label" for="name" style="font-size: 18px;">Email</label>
                                    <input type="text" class="form-control" name="email" placeholder="Nhập email"
                                        required style="font-size: 18px;">
                                    <div class="" style="color: red;" th:text="${error}" th:if="${error != null}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                        onclick="forgetPassword()">FORGET</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/login&register/jquery.min.js"></script>
    <script src="/js/login&register/popper.js"></script>
    <script src="/js/login&register/bootstrap.min.js"></script>
    <script src="/js/login&register/main.js"></script>
    <script>
        function forgetPassword() {
            $.ajax({
                url: "/forgetPassword",
                type: "POST",
                success: function (response) {
                    Swal.fire(
                        'Thành công!',
                        response,
                        'success'
                    )
                }
            })
        }
    </script>
</body>

</html>