<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/login&register/style.css">

</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 text-center mb-5">
					<h1 class="heading-section">LOGIN</h1>
				</div> -->
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(img/storeLogo.png);">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100 pb-5">
                                    <h1 class="mb-4">Reset Password</h1>
                                </div>
                            </div>
                            <form action="" method="post" class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label" for="name" style="font-size: 18px;">Mật khẩu mới: </label>
                                    <input type="password" class="form-control" name="email" placeholder="Mật khẩu mới"
                                        required style="font-size: 18px;">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" for="name" style="font-size: 18px;">Xác thực mật khẩu: </label>
                                    <input type="password" class="form-control" name="email"
                                        placeholder="Nhập lại mật khẩu" required style="font-size: 18px;">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                        onclick="forgetPassword()">RESET</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/login&register/jquery.min.js"></script>
    <script src="/js/login&register/popper.js"></script>
    <script src="/js/login&register/bootstrap.min.js"></script>
    <script src="/js/login&register/main.js"></script>
    <script>

    </script>
</body>

</html>